*{
    padding: 0;
    margin: 0;

}
.card{
    background-color: rgb(22, 167, 240);
    margin: 100px  auto;
    padding: 30px;
    width: 400px;
    text-align: center;
}
.title{
    line-height: 50px;
    margin-bottom: 12px;
}
.title  a{
    text-decoration: none;
    color: white;
}
.title a:hover{
    color: black;
}
.content{
    margin-bottom: 20px;
    font-size: 20px;
}
.content ul{
    list-style: none;
}
.content ul a, .footer a{
    color: white;
    text-decoration: none;
}
.content a:hover, .footer a:hover{
    color: black;
    
}
.recipe-card{
    padding: 25px;
    text-align: center;
    background-color: rgb(72, 184, 240);
}
.recipe-picture{
    border: ridge black;
    display: inline-block;
    margin-bottom: 5px;
}
.recipe-content, .recipe-description{
    margin: 25px auto;
    width: 50%;
    display: inline-block;
    text-align: left;
}
.recipe-description h2{
    margin-bottom: 20px;
}
.recipe-content p, li, .recipe-description p{
    font-size: 19px;
}
.recipe-content ol{
    list-style: none;
    padding: 5px;
}
.recipe-content ol li{
    padding: 15px;
}
.footer{
    text-align: center;
    font-size: 25px;
}
